<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Repository -->
    <bean id="todoRepository" class="com.navneet.todo.TodoRepository" />

    <!-- Service -->
    <bean id="todoService" class="com.navneet.todo.TodoService">
        <constructor-arg ref="todoRepository" />
    </bean>

    <!-- Controller -->
    <bean id="todoController" class="com.navneet.todo.TodoController">
        <constructor-arg ref="todoService" />
    </bean>

</beans>